* {
  padding: 0;
  margin: 0 auto;
}

body {
  background: rgb(63, 94, 251);
  background: radial-gradient(
    circle,
    rgba(63, 94, 251, 1) 0%,
    rgba(252, 70, 107, 1) 100%
  );
}
h1 {
  text-transform: uppercase;
  font-size: 14vh;
  background: linear-gradient(to top right, #ff0000 0%, #030179 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  margin-top: 35vh;
  width: 80%;
  text-align: center;
  flex-wrap: wrap;
}
#activetext {
  text-align: center;
  font-size: 20px;
  margin-bottom: 20px;
}

.buttonColor {
  font-family: sans-serif;
  padding: 8px 30px;
  font-size: 80px;
  margin-top: 20vh;
  margin: 10px;
  border-radius: 10px;
  color: white;
  cursor: pointer;
}
.buttonColor:hover {
  border: 3px solid blue;
}
.b {
  padding-top: 190px;
}

.one {
  background-color: lightskyblue;
}

.two {
  background-color: yellow;
}
.three {
  background-color: red;
}
.four {
  background-color: blue;
}
.five {
  background-color: greenyellow;
}
.six {
  background-color: purple;
}
.seven {
  background-color: rgb(0, 0, 0);
}
